/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */

		
#wrapper{
	header#header{
		#row1-wrapper{
			.row1{
				#header-date{
					width: 70%;
				}
				#social-icons{
					width: 30%;
				}
			}
		}	
		#row2-wrapper{
			#row2-bkgd-wrapper{
				height: auto;
				background-image: none;
				.row2{
					#header-logo{
					}
					#search-form{
						margin-top: 0;
						#searchform{
							margin-right: 0.5em;
							width: 96%;
							#s{
								padding: 0.4em;
								width: 62%;					
							}
						}
					}
				}
			}
		}
	}
	.content-area{		
		#content{
			margin-bottom: 0;
			article{
				margin-bottom: 1em;
				footer{
					margin-top: 1em;
				}
			}
		}
		#secondary{
			margin-top: 1em;
		}
	}	
}