/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */


#wrapper{
	header#header{
		#row2-wrapper{
			#row2-bkgd-wrapper{
				.row2{
					#search-form{
						margin-top: 1.4em;
						#searchform{
							margin-right: 0.5em;
							width: 100%;
							#s{
								padding: 0.4em;
								width: 61%;					
							}
						}
					}
				}
			}
		}
	}
	#home-content{
		#section1{
			.col1{ 
				.row1{ 
					#global{
					 	#global-wrapper{
					 		overflow: hidden;
					 	}
					}
				}
			}
		}
		.news{
			.section-wrapper{
				article{
					img{
						width: 100%;
					}
				}
			}
		}
	}
	.content-area{		
		#content{
			margin-bottom: 0;
			article{
				.entry-content{
					#multimedia-image{
						img{
							width: 100%;
						}
					}
				}
			}
		}
	}
}