@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@default: arial, sans-serif;

//Colors
@white:#ffffff;
@white2:#f7f7f7;
@black:#000000;
@black2:#222222;
@green:#369b50;
@gray:#949494;
@gray2:#535353;
@gray3:#d5d5d5;
@gray4:#f4f4f4;
@gray5:#e6e4e5;



//mixins

.rounded(@radius: 5px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}

.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

.gradient(@color: #008b82, @start: #008b82, @end: #00a89c){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}

.shadow-bottom(@color: #ffffff){
    -webkit-box-shadow: 0 0.25em 0.1em -2px @color;
    -moz-box-shadow: 0 0.25em 0.1em -2px @color;
    box-shadow: 0 0.25em 0.1em -2px @color;    
}

.no-shadow(){
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;    
}

.arrow-left{
    display: inline-block;
    background: url('images/icons.png') no-repeat -66px -4px;
    width: 13px;
    height: 12px;    
}

.more(@color){
    font-size: 0.9em;
    font-style: italic; 
    .date{
        color: @color;
    }
    .read-more{
        a{
            font-weight: 700;
            color: @green;
            letter-spacing: -1px;     
        }
    }
}

.green-line{
    width: 5em;
    height: 0.2em;
    background-color: @green;
    position: relative;
    bottom: 0.15em;
}