html{
    .mp0();
}
a{
	color: @black2;
    text-decoration: none;
}
a:hover{
    color: @black2;
    text-decoration: none;
}

body{
	background-color: @white;
    font-family: @default;
    font-size: 14px;
    color: @black;
    text-align: center;
}
p{
	color: @gray2;
	font-family:@default; 
	font-weight: normal;
	margin: 0.5em 0;
	line-height: 1.5em;
}

//Headers

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	color: @black2;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.1em;
	line-height: 1.3em;
}

//Global styles

.inner{
	width: 960px;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}
.wrapper {
	float: left;
	width: 100%;
}

.nocomments{
	display: none;
}

//Layout

#wrapper{
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left;

	header#header{
		#row1-wrapper{
			background-color: @black2;
			color: @white;
			.row1{
				#header-date{
					.icon{
						background: url('images/icons.png') no-repeat 0 0;
						width: 27px;
						height: 24px;
						float: left;
						margin: 5px;	
					}
					.text{
						line-height: 36px;
						text-transform: uppercase;
						font-weight: 700;
						font-size: 0.9em;
					}
				}
				#social-icons{
					display: inline-block;
					text-align: right;
					li{
						display: inline;
						a{
							background: url("images/icons.png") no-repeat;
							display: inline-block;
							text-align: center;
							text-indent: -9999px;
							height: 33px;
							width: 30px;
						}
					}
					.facebook{
						a{
							background-position: 0px -81px;
						}
					}
					.twitter{
						a{
							background-position: -33px -81px;
						}
					}
					.google{
						a{
							background-position: -64px -81px;
						}
					}									
				}
			}
		}
		#row2-wrapper{
			background-color: @green;
			#row2-bkgd-wrapper{
				background: url('images/header-bkgd.png') no-repeat @green;
				height: 79px;
				.row2{
					padding-top: 2px;
					#search-form{
						text-align: right;
						margin-top: 1.4em;
						#searchform{
							background: rgb(54, 25, 25, .5);
							background: rgba(54, 25, 25, .5);
							width: 76%;
							float: right;
							#s{
								border: none;
								padding: 0.5em;
								width: 62%;
								background-color: transparent;
								color: @white;
								outline: 0;
								float: left;						
							}
							#searchsubmit{
								background: url("images/icons.png") no-repeat -30px 3px;
								border: none;
								height: 2.2em;
								width: 2.5em;
							}
						}
					}
				}
			}
		}
		nav{
			background-color: @white;
			padding: 0.5em 0;
			text-align: center;
			.gradient(@white, @white, #f0f0f2);
			ul{
				display: inline-block;
				li{
					display: inline;
					margin-right: 2.5em;
					a{
						color: @black;
						display: inline-block;
						font-weight: 900;
						text-align: center;
						white-space: nowrap;
						padding: 0.2em 0.3em;					
					}
				}
			}
		}
	}

	#home-content{
		background-color: @white;
		#section1{
			margin-top: 2em;
			.col1{
				.row1{
					#slideshow{
						.slides{
							background-color: @black2;
							.image{
								img{
									width: 100%;
									float: left;
								}
								article{
									clear: both;
									background-color: @black2;
									padding: 1.5em;
									text-align: center;
									h2{				
										a{
											color: @white;
										}
									}
									p{
										margin-top: 1em;
										color: @gray;
									}
									.more{
										.more(@gray);
									}
								}
							}
						}
						.flex-control-nav{
							background-color: @black2;
							padding: 0.5em 0 1.5em;
							li{
								margin: 0 3px;
								a{
									background: url('images/icons.png') no-repeat;
									background-position: -57px -156px;
									border-radius: 0;
									box-shadow: none;
									width: 25px;
									height: 28px;
									text-indent: 0;
									line-height: 28px;
									font-weight: 600;
									color:@black2;
									&.flex-active{
										background-position: -24px -156px;
									}
								}
							}
						}
						.flex-direction-nav{
							li{
								a{
									background: url('images/icons.png') no-repeat;
									width: 10px;
									height: 25px;
									top: 95%;									
									&.flex-prev{
										background-position: -2px -156px;
										left: 30%;
									}
									&.flex-next{
										background-position: -12px -156px;
										right: 30%;
									}									
								}
							}
						}
					}
					#global{
						#global-wrapper{
							background-color: @white2;
							margin: 0 0.5em;
							border: 0.2em solid @green;							
							h2{
								background-color: @green;
								padding: 0.5em;
								text-align: center;
								a{
									color: @white;
								}
							}
							article{
								margin: 1em 0.8em;
								border-bottom: 0.1em solid @gray;
								padding-bottom: 0.8em;
								text-align: center;
								&:last-child{
									border-bottom:none;
									padding-bottom: 0;
								}
								P{
									margin: 0.5em 0;
								}
								.more{
									.more(@gray2);
								}								
							}
						}
					}
				}
				.row2{
					#national{
						margin: 1em 0.5em 0 0;
						border-top: 0.1em solid @gray3;
						position: relative;
						h2{
							margin: 0.5em 0 0.7em 0;
							a{
								color: @green;
							}
						}
						article{
							margin-bottom: 1em;
							div{
								img{
									width: 100%;
								}
							}
							.article-info{
								margin-left: 1em;
								h3{
									font-size: 1.5em;
									line-height: 1em;
								}
								.more{
									.more(@gray2);
								}
							}
						}
						#slider-controls{
							position: absolute;
							top:1em;
							right: 0;
							.prev{
								background: url('images/icons.png') no-repeat -52px -40px;
								width: 14px;
								height: 27px;
								float: left;
								cursor: pointer;
							}
							.next{
								background: url('images/icons.png') no-repeat -80px -40px;
								width: 18px;
								height: 27px;
								margin-left: 26px;
								cursor: pointer;
							}							
						}
						#loader{
							position: absolute;
							left: 40%;
							bottom: 40%;
						}
						#pager, #total-posts{
							display: none;
						}
					}
				}
			}
			.col2{
				#widget1{
					background-color: @gray4;
					padding: 0.5em 0.3em;
					ul.pop-widget-tabs{
						display: inline-block;
    					float: left;
						li{
							width: 30%;
							border:none;
							margin: 0;
							a{
								background-color: @gray4;
								border: none;
								letter-spacing: 0;
								padding: 0;
								font-size: 1.3em;
								text-align: center;
								width: 100%;
								&.active{
									background-color: @white;
								}
							}
						}
					}
					.pop-inside{
						border: none;
						background-color: @white;
						padding: 0 0.5em;
						ul{
							li{
								border-bottom: none;
								a{
									img{
										width: 100px;
										height: 85px;
										max-width: 100px;
									}
								}
								&:hover{
									background-color: @white;
								}
								&:first-child{
									padding-top: 1.5em;
								}
							}
						}
					}
				}
				#multimedia{
					position: relative;
					h2{
						margin-top: 1em;
						background-color: @green;
						padding: 0.5em;
						text-align: center;
						a{
							color: @white;
						}
					}
					#play-button{
						position: absolute;
						background: url('images/icons.png') no-repeat 0 -31px;
						width: 49px;
						height: 49px;
						top: 26%;
						left: 42%;
						opacity: 0.7;
					}
					img{
						width: 100%;
						float: left;
					}					
					.article-wrapper{
						clear: both;
						background-color: @black2;
						padding: 1.5em;
						text-align: left;
						article{
							h3{
								a{
									color: @white;
								}
							}
							p{
								color: @gray;
							}						
						}
						.article-more{
							h3{
								border-top: 0.1em solid @gray;
								padding: 0.5em 0;
								font-size: 0.9em;
								a{
									color: @white;
								}
							}							
						}
					}			
				}
			}
		}
		.news{
			section{
				.section-wrapper{
					border-top: 0.1em solid @gray3;
					margin: 1em 0.8em 0 0;
					h2{
						margin: 0.7em 0 0.7em 0;
						a{
							color: @green;
						}
					}
					article{
						h3{
							font-size: 1.5em;
							line-height: 1em;
							margin: 0.5em 0;
						}
						.more{
							.more(@gray2);
							margin-bottom: 1em;
						}
					}
					.article-more{
						margin-bottom: 1em;
						h3{
							border-top: 0.1em solid @gray3;
							padding: 1em 0 0.5em 0.5em;
							font-size: 0.9em;
							margin: 0.5em 0;
							.arrow-left{
								.arrow-left();
							}
						}							
					}
				}					
			}
		}
		#section4{
			background-color: @white2;
			#section4-wrapper{
				#about-us{
					h2{
						margin: 1em 0;
						a{
							color: @green;
						}
					}
					.textwidget{
						color: @gray2;
						margin-right: 2em;
					}
					#social-icons{
						display: inline-block;
						text-align: right;
						margin: 1em 0;
						li{
							display: inline;
							a{
								background: url("images/icons.png") no-repeat;
								display: inline-block;
								text-align: center;
								text-indent: -9999px;
								height: 33px;
								width: 27px;
							}
						}
						.facebook{
							a{
								background-position: -2px -114px;
							}
						}
						.twitter{
							a{
								background-position: -33px -114px;
							}
						}
						.google{
							a{
								background-position: -62px -114px;
							}
						}									
					}					
				}
				#twitter{
					#twitter-wrapper{
						background-color: @gray5;
						margin: 0 1em 0 0;
						h2{
							padding: 1em 0 0 0.5em;
							color: @green;
						}					
						#tweetblender-2-mc{
							margin: 0 1em 0 0.5em;
							
							.tb_tweetlist{
								overflow-y: scroll;
								height: 12em;
								font-size: 0.9em;
								color: @gray2;								
								.tb_msg{
									a{
										color: @green;
									}
								}
								.tb_author{
									a{
										color: @gray2;
									}
								}
							}
							.tb_twitterlogo{
								display: none;
							}						
							.tb_tools{
								background-image: none !important;
							}						
						}
					}
				}
				#menu-footer{
					ul{
						margin: 3em 0.5em;
						li{
							list-style-type: none;
							line-height: 1.5em;
							a{
								text-transform: uppercase;
								margin-left: 0.3em;
								font-size: 1.2em;
							}
						}
					}
				}
			}
		}

	}
	#footer{
		background-color: @black2;
		color: @gray;
		text-align: right;
		height: 3em;
		line-height: 3em;
	}

	.content-area{
		min-height: 426px;
		ul{
			margin: 2em;
			li{
				line-height: 1.5em;
			}
		}
		p{
			line-height: 1.5em;
		}		
		#content{
			margin: 3em 0;
			article{
				display: inline-block;
				width: 94%;
				margin-bottom: 2em;
				header{
					h1{
						margin: 0 0 0.5em 0;
					}
				}
				.entry-content{
					margin: 1em 0;
				}
				footer{
					margin-top: 3em;
					.commentlist{
						margin: 1.5em 0;
						.comment{
							margin: 1.5em 0;
						}
					}
				}
			}
			.archive-header-category{
				padding-right: 5em;
				h1{
					font-size: 2.5em;
					margin: 0.5em 0;
				}
			}
			#content-category{
				article{
					header{
						h1{
							font-size: 1.5em;
						}
					}
					img{
						width: 100%;
						height: 100%;
					}
					aside{
						p{
							padding-left: 0.3em;
						}
					}
					.read-more{
						display: inline-block;
						padding: 0 0 1em 0.4em;
						font-weight: 600;
					}
				}				
			}
			.wp-pagenavi {
			    margin: 3em 0;
			}
		}
		#secondary,#sidebar{
			margin-top: 2em;
			li{
				list-style-type: none;
				margin-bottom: 0.3em;
    			padding-bottom: 0.3em;
    			border-bottom: 0.1em solid @gray;
				&:last-child{
					border-bottom: none;
				}    			
			}
			.widgettitle{
				font-size: 2em;
				margin-top: 1em;
			}
			ul{
				margin: 1em 0 0.5em 0;
			}
			#searchform{
				display: inline-block;
				margin-top: 0.4em;
				background: rgb(54, 25, 25, .5);
				background: rgba(54, 25, 25, .5);				
				#s{
					border: none;
					padding: 0.4em;
					width: 10em;
					background-color: transparent;
					color: @white;
					outline: 0;							
				}
				#searchsubmit{
					background: url("images/icons.png") no-repeat -30px 0;
					border: none;
					height: 2em;
					width: 2.5em;
				}
			}			
		}
	}
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; 
	    height: 0; 
	    overflow: hidden;
	    iframe, object, embed{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}
}

@media only screen and (max-device-width: 980px) {
	.inner{
		width:95%;
	}
}