@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* html5reset.css - 01/11/2011 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
p {
  margin: 0;
}
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */

}
/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 0;
}
.col:first-child {
  margin-left: 0;
}
/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWO   ============================================================================= */
.span_2_2 {
  width: 100%;
}
.span_1_2 {
  width: 49.2%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_2_2 {
    width: 100%;
  }
  .span_1_2 {
    width: 100%;
  }
}
/*  GRID OF THREE   ============================================================================= */
.span_3_3 {
  width: 100%;
}
.span_2_3 {
  width: 66.66%;
}
.span_1_3 {
  width: 33.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_3_3 {
    width: 100%;
  }
  .span_2_3 {
    width: 100%;
  }
  .span_1_3 {
    width: 100%;
  }
}
/*  GRID OF FOUR   ============================================================================= */
.span_4_4 {
  width: 100%;
}
.span_3_4 {
  width: 75%;
}
.span_2_4 {
  width: 50%;
}
.span_1_4 {
  width: 25%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_4_4 {
    width: 100%;
  }
  .span_3_4 {
    width: 100%;
  }
  .span_2_4 {
    width: 100%;
  }
  .span_1_4 {
    width: 100%;
  }
}
/*  GRID OF FIVE   ============================================================================= */
.span_5_5 {
  width: 100%;
}
.span_4_5 {
  width: 80%;
}
.span_3_5 {
  width: 60%;
}
.span_2_5 {
  width: 40%;
}
.span_1_5 {
  width: 20%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_5_5 {
    width: 100%;
  }
  .span_4_5 {
    width: 100%;
  }
  .span_3_5 {
    width: 100%;
  }
  .span_2_5 {
    width: 100%;
  }
  .span_1_5 {
    width: 100%;
  }
}
/*  GRID OF SIX   ============================================================================= */
.span_6_6 {
  width: 100%;
}
.span_5_6 {
  width: 83.06%;
}
.span_4_6 {
  width: 66.13%;
}
.span_3_6 {
  width: 49.2%;
}
.span_2_6 {
  width: 32.26%;
}
.span_1_6 {
  width: 15.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_6_6 {
    width: 100%;
  }
  .span_5_6 {
    width: 100%;
  }
  .span_4_6 {
    width: 100%;
  }
  .span_3_6 {
    width: 100%;
  }
  .span_2_6 {
    width: 100%;
  }
  .span_1_6 {
    width: 100%;
  }
}
/*  GRID OF SEVEN   ============================================================================= */
.span_7_7 {
  width: 100%;
}
.span_6_7 {
  width: 85.48%;
}
.span_5_7 {
  width: 70.97%;
}
.span_4_7 {
  width: 56.45%;
}
.span_3_7 {
  width: 41.94%;
}
.span_2_7 {
  width: 27.42%;
}
.span_1_7 {
  width: 12.91%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_7_7 {
    width: 100%;
  }
  .span_6_7 {
    width: 100%;
  }
  .span_5_7 {
    width: 100%;
  }
  .span_4_7 {
    width: 100%;
  }
  .span_3_7 {
    width: 100%;
  }
  .span_2_7 {
    width: 100%;
  }
  .span_1_7 {
    width: 100%;
  }
}
/*  GRID OF EIGHT   ============================================================================= */
.span_8_8 {
  width: 100%;
}
.span_7_8 {
  width: 87.3%;
}
.span_6_8 {
  width: 74.6%;
}
.span_5_8 {
  width: 61.9%;
}
.span_4_8 {
  width: 49.2%;
}
.span_3_8 {
  width: 36.5%;
}
.span_2_8 {
  width: 23.8%;
}
.span_1_8 {
  width: 11.1%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_8_8 {
    width: 100%;
  }
  .span_7_8 {
    width: 100%;
  }
  .span_6_8 {
    width: 100%;
  }
  .span_5_8 {
    width: 100%;
  }
  .span_4_8 {
    width: 100%;
  }
  .span_3_8 {
    width: 100%;
  }
  .span_2_8 {
    width: 100%;
  }
  .span_1_8 {
    width: 100%;
  }
}
/*  GRID OF NINE   ============================================================================= */
.span_9_9 {
  width: 100%;
}
.span_8_9 {
  width: 88.71%;
}
.span_7_9 {
  width: 77.42%;
}
.span_6_9 {
  width: 66.13%;
}
.span_5_9 {
  width: 54.84%;
}
.span_4_9 {
  width: 43.55%;
}
.span_3_9 {
  width: 32.26%;
}
.span_2_9 {
  width: 20.97%;
}
.span_1_9 {
  width: 9.68%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_9_9 {
    width: 100%;
  }
  .span_8_9 {
    width: 100%;
  }
  .span_7_9 {
    width: 100%;
  }
  .span_6_9 {
    width: 100%;
  }
  .span_5_9 {
    width: 100%;
  }
  .span_4_9 {
    width: 100%;
  }
  .span_3_9 {
    width: 100%;
  }
  .span_2_9 {
    width: 100%;
  }
  .span_1_9 {
    width: 100%;
  }
}
/*  GRID OF TEN   ============================================================================= */
.span_10_10 {
  width: 100%;
}
.span_9_10 {
  width: 89.84%;
}
.span_8_10 {
  width: 79.68%;
}
.span_7_10 {
  width: 69.52%;
}
.span_6_10 {
  width: 59.36%;
}
.span_5_10 {
  width: 49.2%;
}
.span_4_10 {
  width: 39.04%;
}
.span_3_10 {
  width: 28.88%;
}
.span_2_10 {
  width: 18.72%;
}
.span_1_10 {
  width: 8.56%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_10_10 {
    width: 100%;
  }
  .span_9_10 {
    width: 100%;
  }
  .span_8_10 {
    width: 100%;
  }
  .span_7_10 {
    width: 100%;
  }
  .span_6_10 {
    width: 100%;
  }
  .span_5_10 {
    width: 100%;
  }
  .span_4_10 {
    width: 100%;
  }
  .span_3_10 {
    width: 100%;
  }
  .span_2_10 {
    width: 100%;
  }
  .span_1_10 {
    width: 100%;
  }
}
/*  GRID OF ELEVEN   ============================================================================= */
.span_11_11 {
  width: 100%;
}
.span_10_11 {
  width: 90.76%;
}
.span_9_11 {
  width: 81.52%;
}
.span_8_11 {
  width: 72.29%;
}
.span_7_11 {
  width: 63.05%;
}
.span_6_11 {
  width: 53.81%;
}
.span_5_11 {
  width: 44.58%;
}
.span_4_11 {
  width: 35.34%;
}
.span_3_11 {
  width: 26.1%;
}
.span_2_11 {
  width: 16.87%;
}
.span_1_11 {
  width: 7.63%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_11_11 {
    width: 100%;
  }
  .span_10_11 {
    width: 100%;
  }
  .span_9_11 {
    width: 100%;
  }
  .span_8_11 {
    width: 100%;
  }
  .span_7_11 {
    width: 100%;
  }
  .span_6_11 {
    width: 100%;
  }
  .span_5_11 {
    width: 100%;
  }
  .span_4_11 {
    width: 100%;
  }
  .span_3_11 {
    width: 100%;
  }
  .span_2_11 {
    width: 100%;
  }
  .span_1_11 {
    width: 100%;
  }
}
/*  GRID OF TWELVE   ============================================================================= */
.span_12_12 {
  width: 100%;
}
.span_11_12 {
  width: 91.53%;
}
.span_10_12 {
  width: 83.06%;
}
.span_9_12 {
  width: 74.6%;
}
.span_8_12 {
  width: 66.13%;
}
.span_7_12 {
  width: 57.66%;
}
.span_6_12 {
  width: 49.2%;
}
.span_5_12 {
  width: 40.73%;
}
.span_4_12 {
  width: 32.26%;
}
.span_3_12 {
  width: 23.8%;
}
.span_2_12 {
  width: 15.33%;
}
.span_1_12 {
  width: 6.86%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-device-width: 480px) {
  .span_12_12 {
    width: 100%;
  }
  .span_11_12 {
    width: 100%;
  }
  .span_10_12 {
    width: 100%;
  }
  .span_9_12 {
    width: 100%;
  }
  .span_8_12 {
    width: 100%;
  }
  .span_7_12 {
    width: 100%;
  }
  .span_6_12 {
    width: 100%;
  }
  .span_5_12 {
    width: 100%;
  }
  .span_4_12 {
    width: 100%;
  }
  .span_3_12 {
    width: 100%;
  }
  .span_2_12 {
    width: 100%;
  }
  .span_1_12 {
    width: 100%;
  }
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  color: #222222;
  text-decoration: none;
}
a:hover {
  color: #222222;
  text-decoration: none;
}
body {
  background-color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: center;
}
p {
  color: #535353;
  font-family: arial, sans-serif;
  font-weight: normal;
  margin: 0.5em 0;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #222222;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.1em;
  line-height: 1.3em;
}
.inner {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}
.wrapper {
  float: left;
  width: 100%;
}
.nocomments {
  display: none;
}
#wrapper {
  height: 100%;
  margin: auto;
  position: relative;
  text-align: left;
}
#wrapper header#header #row1-wrapper {
  background-color: #222222;
  color: #ffffff;
}
#wrapper header#header #row1-wrapper .row1 #header-date .icon {
  background: url('images/icons.png') no-repeat 0 0;
  width: 27px;
  height: 24px;
  float: left;
  margin: 5px;
}
#wrapper header#header #row1-wrapper .row1 #header-date .text {
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
}
#wrapper header#header #row1-wrapper .row1 #social-icons {
  display: inline-block;
  text-align: right;
}
#wrapper header#header #row1-wrapper .row1 #social-icons li {
  display: inline;
}
#wrapper header#header #row1-wrapper .row1 #social-icons li a {
  background: url("images/icons.png") no-repeat;
  display: inline-block;
  text-align: center;
  text-indent: -9999px;
  height: 33px;
  width: 30px;
}
#wrapper header#header #row1-wrapper .row1 #social-icons .facebook a {
  background-position: 0px -81px;
}
#wrapper header#header #row1-wrapper .row1 #social-icons .twitter a {
  background-position: -33px -81px;
}
#wrapper header#header #row1-wrapper .row1 #social-icons .google a {
  background-position: -64px -81px;
}
#wrapper header#header #row2-wrapper {
  background-color: #369b50;
}
#wrapper header#header #row2-wrapper #row2-bkgd-wrapper {
  background: url('images/header-bkgd.png') no-repeat #369b50;
  height: 79px;
}
#wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 {
  padding-top: 2px;
}
#wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form {
  text-align: right;
  margin-top: 1.4em;
}
#wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form #searchform {
  background: #361919;
  background: rgba(54, 25, 25, 0.5);
  width: 76%;
  float: right;
}
#wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form #searchform #s {
  border: none;
  padding: 0.5em;
  width: 62%;
  background-color: transparent;
  color: #ffffff;
  outline: 0;
  float: left;
}
#wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form #searchform #searchsubmit {
  background: url("images/icons.png") no-repeat -30px 3px;
  border: none;
  height: 2.2em;
  width: 2.5em;
}
#wrapper header#header nav {
  background-color: #ffffff;
  padding: 0.5em 0;
  text-align: center;
  background: #ffffff;
  /*fallback for non-CSS3 browsers*/

  background: linear-gradient(#ffffff, #f0f0f2);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#ffffff, #f0f0f2);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper header#header nav ul {
  display: inline-block;
}
#wrapper header#header nav ul li {
  display: inline;
  margin-right: 2.5em;
}
#wrapper header#header nav ul li a {
  color: #000000;
  display: inline-block;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  padding: 0.2em 0.3em;
}
#wrapper #home-content {
  background-color: #ffffff;
}
#wrapper #home-content #section1 {
  margin-top: 2em;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides {
  background-color: #222222;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides .image img {
  width: 100%;
  float: left;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides .image article {
  clear: both;
  background-color: #222222;
  padding: 1.5em;
  text-align: center;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides .image article h2 a {
  color: #ffffff;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides .image article p {
  margin-top: 1em;
  color: #949494;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides .image article .more {
  font-size: 0.9em;
  font-style: italic;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides .image article .more .date {
  color: #949494;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .slides .image article .more .read-more a {
  font-weight: 700;
  color: #369b50;
  letter-spacing: -1px;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .flex-control-nav {
  background-color: #222222;
  padding: 0.5em 0 1.5em;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .flex-control-nav li {
  margin: 0 3px;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .flex-control-nav li a {
  background: url('images/icons.png') no-repeat;
  background-position: -57px -156px;
  border-radius: 0;
  box-shadow: none;
  width: 25px;
  height: 28px;
  text-indent: 0;
  line-height: 28px;
  font-weight: 600;
  color: #222222;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .flex-control-nav li a.flex-active {
  background-position: -24px -156px;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .flex-direction-nav li a {
  background: url('images/icons.png') no-repeat;
  width: 10px;
  height: 25px;
  top: 95%;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .flex-direction-nav li a.flex-prev {
  background-position: -2px -156px;
  left: 30%;
}
#wrapper #home-content #section1 .col1 .row1 #slideshow .flex-direction-nav li a.flex-next {
  background-position: -12px -156px;
  right: 30%;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper {
  background-color: #f7f7f7;
  margin: 0 0.5em;
  border: 0.2em solid #369b50;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper h2 {
  background-color: #369b50;
  padding: 0.5em;
  text-align: center;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper h2 a {
  color: #ffffff;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper article {
  margin: 1em 0.8em;
  border-bottom: 0.1em solid #949494;
  padding-bottom: 0.8em;
  text-align: center;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper article P {
  margin: 0.5em 0;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper article .more {
  font-size: 0.9em;
  font-style: italic;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper article .more .date {
  color: #535353;
}
#wrapper #home-content #section1 .col1 .row1 #global #global-wrapper article .more .read-more a {
  font-weight: 700;
  color: #369b50;
  letter-spacing: -1px;
}
#wrapper #home-content #section1 .col1 .row2 #national {
  margin: 1em 0.5em 0 0;
  border-top: 0.1em solid #d5d5d5;
  position: relative;
}
#wrapper #home-content #section1 .col1 .row2 #national h2 {
  margin: 0.5em 0 0.7em 0;
}
#wrapper #home-content #section1 .col1 .row2 #national h2 a {
  color: #369b50;
}
#wrapper #home-content #section1 .col1 .row2 #national article {
  margin-bottom: 1em;
}
#wrapper #home-content #section1 .col1 .row2 #national article div img {
  width: 100%;
}
#wrapper #home-content #section1 .col1 .row2 #national article .article-info {
  margin-left: 1em;
}
#wrapper #home-content #section1 .col1 .row2 #national article .article-info h3 {
  font-size: 1.5em;
  line-height: 1em;
}
#wrapper #home-content #section1 .col1 .row2 #national article .article-info .more {
  font-size: 0.9em;
  font-style: italic;
}
#wrapper #home-content #section1 .col1 .row2 #national article .article-info .more .date {
  color: #535353;
}
#wrapper #home-content #section1 .col1 .row2 #national article .article-info .more .read-more a {
  font-weight: 700;
  color: #369b50;
  letter-spacing: -1px;
}
#wrapper #home-content #section1 .col1 .row2 #national #slider-controls {
  position: absolute;
  top: 1em;
  right: 0;
}
#wrapper #home-content #section1 .col1 .row2 #national #slider-controls .prev {
  background: url('images/icons.png') no-repeat -52px -40px;
  width: 14px;
  height: 27px;
  float: left;
  cursor: pointer;
}
#wrapper #home-content #section1 .col1 .row2 #national #slider-controls .next {
  background: url('images/icons.png') no-repeat -80px -40px;
  width: 18px;
  height: 27px;
  margin-left: 26px;
  cursor: pointer;
}
#wrapper #home-content #section1 .col1 .row2 #national #loader {
  position: absolute;
  left: 40%;
  bottom: 40%;
}
#wrapper #home-content #section1 .col1 .row2 #national #pager,
#wrapper #home-content #section1 .col1 .row2 #national #total-posts {
  display: none;
}
#wrapper #home-content #section1 .col2 #widget1 {
  background-color: #f4f4f4;
  padding: 0.5em 0.3em;
}
#wrapper #home-content #section1 .col2 #widget1 ul.pop-widget-tabs {
  display: inline-block;
  float: left;
}
#wrapper #home-content #section1 .col2 #widget1 ul.pop-widget-tabs li {
  width: 30%;
  border: none;
  margin: 0;
}
#wrapper #home-content #section1 .col2 #widget1 ul.pop-widget-tabs li a {
  background-color: #f4f4f4;
  border: none;
  letter-spacing: 0;
  padding: 0;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
}
#wrapper #home-content #section1 .col2 #widget1 ul.pop-widget-tabs li a.active {
  background-color: #ffffff;
}
#wrapper #home-content #section1 .col2 #widget1 .pop-inside {
  border: none;
  background-color: #ffffff;
  padding: 0 0.5em;
}
#wrapper #home-content #section1 .col2 #widget1 .pop-inside ul li {
  border-bottom: none;
}
#wrapper #home-content #section1 .col2 #widget1 .pop-inside ul li a img {
  width: 100px;
  height: 85px;
  max-width: 100px;
}
#wrapper #home-content #section1 .col2 #widget1 .pop-inside ul li:hover {
  background-color: #ffffff;
}
#wrapper #home-content #section1 .col2 #widget1 .pop-inside ul li:first-child {
  padding-top: 1.5em;
}
#wrapper #home-content #section1 .col2 #multimedia {
  position: relative;
}
#wrapper #home-content #section1 .col2 #multimedia h2 {
  margin-top: 1em;
  background-color: #369b50;
  padding: 0.5em;
  text-align: center;
}
#wrapper #home-content #section1 .col2 #multimedia h2 a {
  color: #ffffff;
}
#wrapper #home-content #section1 .col2 #multimedia #play-button {
  position: absolute;
  background: url('images/icons.png') no-repeat 0 -31px;
  width: 49px;
  height: 49px;
  top: 26%;
  left: 42%;
  opacity: 0.7;
}
#wrapper #home-content #section1 .col2 #multimedia img {
  width: 100%;
  float: left;
}
#wrapper #home-content #section1 .col2 #multimedia .article-wrapper {
  clear: both;
  background-color: #222222;
  padding: 1.5em;
  text-align: left;
}
#wrapper #home-content #section1 .col2 #multimedia .article-wrapper article h3 a {
  color: #ffffff;
}
#wrapper #home-content #section1 .col2 #multimedia .article-wrapper article p {
  color: #949494;
}
#wrapper #home-content #section1 .col2 #multimedia .article-wrapper .article-more h3 {
  border-top: 0.1em solid #949494;
  padding: 0.5em 0;
  font-size: 0.9em;
}
#wrapper #home-content #section1 .col2 #multimedia .article-wrapper .article-more h3 a {
  color: #ffffff;
}
#wrapper #home-content .news section .section-wrapper {
  border-top: 0.1em solid #d5d5d5;
  margin: 1em 0.8em 0 0;
}
#wrapper #home-content .news section .section-wrapper h2 {
  margin: 0.7em 0 0.7em 0;
}
#wrapper #home-content .news section .section-wrapper h2 a {
  color: #369b50;
}
#wrapper #home-content .news section .section-wrapper article h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0.5em 0;
}
#wrapper #home-content .news section .section-wrapper article .more {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 1em;
}
#wrapper #home-content .news section .section-wrapper article .more .date {
  color: #535353;
}
#wrapper #home-content .news section .section-wrapper article .more .read-more a {
  font-weight: 700;
  color: #369b50;
  letter-spacing: -1px;
}
#wrapper #home-content .news section .section-wrapper .article-more {
  margin-bottom: 1em;
}
#wrapper #home-content .news section .section-wrapper .article-more h3 {
  border-top: 0.1em solid #d5d5d5;
  padding: 1em 0 0.5em 0.5em;
  font-size: 0.9em;
  margin: 0.5em 0;
}
#wrapper #home-content .news section .section-wrapper .article-more h3 .arrow-left {
  display: inline-block;
  background: url('images/icons.png') no-repeat -66px -4px;
  width: 13px;
  height: 12px;
}
#wrapper #home-content #section4 {
  background-color: #f7f7f7;
}
#wrapper #home-content #section4 #section4-wrapper #about-us h2 {
  margin: 1em 0;
}
#wrapper #home-content #section4 #section4-wrapper #about-us h2 a {
  color: #369b50;
}
#wrapper #home-content #section4 #section4-wrapper #about-us .textwidget {
  color: #535353;
  margin-right: 2em;
}
#wrapper #home-content #section4 #section4-wrapper #about-us #social-icons {
  display: inline-block;
  text-align: right;
  margin: 1em 0;
}
#wrapper #home-content #section4 #section4-wrapper #about-us #social-icons li {
  display: inline;
}
#wrapper #home-content #section4 #section4-wrapper #about-us #social-icons li a {
  background: url("images/icons.png") no-repeat;
  display: inline-block;
  text-align: center;
  text-indent: -9999px;
  height: 33px;
  width: 27px;
}
#wrapper #home-content #section4 #section4-wrapper #about-us #social-icons .facebook a {
  background-position: -2px -114px;
}
#wrapper #home-content #section4 #section4-wrapper #about-us #social-icons .twitter a {
  background-position: -33px -114px;
}
#wrapper #home-content #section4 #section4-wrapper #about-us #social-icons .google a {
  background-position: -62px -114px;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper {
  background-color: #e6e4e5;
  margin: 0 1em 0 0;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper h2 {
  padding: 1em 0 0 0.5em;
  color: #369b50;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper #tweetblender-2-mc {
  margin: 0 1em 0 0.5em;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper #tweetblender-2-mc .tb_tweetlist {
  overflow-y: scroll;
  height: 12em;
  font-size: 0.9em;
  color: #535353;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper #tweetblender-2-mc .tb_tweetlist .tb_msg a {
  color: #369b50;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper #tweetblender-2-mc .tb_tweetlist .tb_author a {
  color: #535353;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper #tweetblender-2-mc .tb_twitterlogo {
  display: none;
}
#wrapper #home-content #section4 #section4-wrapper #twitter #twitter-wrapper #tweetblender-2-mc .tb_tools {
  background-image: none !important;
}
#wrapper #home-content #section4 #section4-wrapper #menu-footer ul {
  margin: 3em 0.5em;
}
#wrapper #home-content #section4 #section4-wrapper #menu-footer ul li {
  list-style-type: none;
  line-height: 1.5em;
}
#wrapper #home-content #section4 #section4-wrapper #menu-footer ul li a {
  text-transform: uppercase;
  margin-left: 0.3em;
  font-size: 1.2em;
}
#wrapper #footer {
  background-color: #222222;
  color: #949494;
  text-align: right;
  height: 3em;
  line-height: 3em;
}
#wrapper .content-area {
  min-height: 426px;
}
#wrapper .content-area ul {
  margin: 2em;
}
#wrapper .content-area ul li {
  line-height: 1.5em;
}
#wrapper .content-area p {
  line-height: 1.5em;
}
#wrapper .content-area #content {
  margin: 3em 0;
}
#wrapper .content-area #content article {
  display: inline-block;
  width: 94%;
  margin-bottom: 2em;
}
#wrapper .content-area #content article header h1 {
  margin: 0 0 0.5em 0;
}
#wrapper .content-area #content article .entry-content {
  margin: 1em 0;
}
#wrapper .content-area #content article footer {
  margin-top: 3em;
}
#wrapper .content-area #content article footer .commentlist {
  margin: 1.5em 0;
}
#wrapper .content-area #content article footer .commentlist .comment {
  margin: 1.5em 0;
}
#wrapper .content-area #content .archive-header-category {
  padding-right: 5em;
}
#wrapper .content-area #content .archive-header-category h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}
#wrapper .content-area #content #content-category article header h1 {
  font-size: 1.5em;
}
#wrapper .content-area #content #content-category article img {
  width: 100%;
  height: 100%;
}
#wrapper .content-area #content #content-category article aside p {
  padding-left: 0.3em;
}
#wrapper .content-area #content #content-category article .read-more {
  display: inline-block;
  padding: 0 0 1em 0.4em;
  font-weight: 600;
}
#wrapper .content-area #content .wp-pagenavi {
  margin: 3em 0;
}
#wrapper .content-area #secondary,
#wrapper .content-area #sidebar {
  margin-top: 2em;
}
#wrapper .content-area #secondary li,
#wrapper .content-area #sidebar li {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid #949494;
}
#wrapper .content-area #secondary li:last-child,
#wrapper .content-area #sidebar li:last-child {
  border-bottom: none;
}
#wrapper .content-area #secondary .widgettitle,
#wrapper .content-area #sidebar .widgettitle {
  font-size: 2em;
  margin-top: 1em;
}
#wrapper .content-area #secondary ul,
#wrapper .content-area #sidebar ul {
  margin: 1em 0 0.5em 0;
}
#wrapper .content-area #secondary #searchform,
#wrapper .content-area #sidebar #searchform {
  display: inline-block;
  margin-top: 0.4em;
  background: #361919;
  background: rgba(54, 25, 25, 0.5);
}
#wrapper .content-area #secondary #searchform #s,
#wrapper .content-area #sidebar #searchform #s {
  border: none;
  padding: 0.4em;
  width: 10em;
  background-color: transparent;
  color: #ffffff;
  outline: 0;
}
#wrapper .content-area #secondary #searchform #searchsubmit,
#wrapper .content-area #sidebar #searchform #searchsubmit {
  background: url("images/icons.png") no-repeat -30px 0;
  border: none;
  height: 2em;
  width: 2.5em;
}
#wrapper .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#wrapper .video-container iframe,
#wrapper .video-container object,
#wrapper .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 980px) {
  .inner {
    width: 95%;
  }
}
.arrow-left {
  display: inline-block;
  background: url('images/icons.png') no-repeat -66px -4px;
  width: 13px;
  height: 12px;
}
.green-line {
  width: 5em;
  height: 0.2em;
  background-color: #369b50;
  position: relative;
  bottom: 0.15em;
}
@media only screen and (max-device-width: 768px) {
  /*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */
  #wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form {
    margin-top: 1.4em;
  }
  #wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form #searchform {
    margin-right: 0.5em;
    width: 100%;
  }
  #wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form #searchform #s {
    padding: 0.4em;
    width: 61%;
  }
  #wrapper #home-content #section1 .col1 .row1 #global #global-wrapper {
    overflow: hidden;
  }
  #wrapper #home-content .news .section-wrapper article img {
    width: 100%;
  }
  #wrapper .content-area #content {
    margin-bottom: 0;
  }
  #wrapper .content-area #content article .entry-content #multimedia-image img {
    width: 100%;
  }
}
@media only screen and (max-device-width: 480px) {
  /*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */
  #wrapper header#header #row1-wrapper .row1 #header-date {
    width: 70%;
  }
  #wrapper header#header #row1-wrapper .row1 #social-icons {
    width: 30%;
  }
  #wrapper header#header #row2-wrapper #row2-bkgd-wrapper {
    height: auto;
    background-image: none;
  }
  #wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form {
    margin-top: 0;
  }
  #wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form #searchform {
    margin-right: 0.5em;
    width: 96%;
  }
  #wrapper header#header #row2-wrapper #row2-bkgd-wrapper .row2 #search-form #searchform #s {
    padding: 0.4em;
    width: 62%;
  }
  #wrapper .content-area #content {
    margin-bottom: 0;
  }
  #wrapper .content-area #content article {
    margin-bottom: 1em;
  }
  #wrapper .content-area #content article footer {
    margin-top: 1em;
  }
  #wrapper .content-area #secondary {
    margin-top: 1em;
  }
}
